@* Content from original index1.html *@
<section class="home-content-section learn-about-us-section">
    <div class="left text-content">
        <h1>Learn About Us</h1>
        <p>We have been operating for over 30 years and are Members of The Federation of Master Builders. We work on projects big and small from small residential extensions to full house and commercial builds and we are registered NHBC house builders.</p>

        <div class="product-container">
            <div class="product">
                <div class="img-container">
                    <img src="https://raw.githubusercontent.com/Yahiamostafa11/iti-page/main/img/8.jpg" alt="Snake">
                    <div class="overlay">
                        <a href="@Url.Action("Details", "Product", new { id = "Snake" }) " class="btn btn-view-details">View Details</a>
                    </div>
                </div>
                <p class="product-title">Snake</p>
                <p class="price">£118.00</p>
            </div>

            <div class="product">
                <div class="img-container">
                    <img src="https://raw.githubusercontent.com/Yahiamostafa11/iti-page/main/img/3.jpg" alt="Broken">
                    <div class="overlay">
                        <a href="@Url.Action("Details", "Product", new { id = "Broken" }) " class="btn btn-view-details">View Details</a>
                    </div>
                </div>
                <p class="product-title">Broken</p>
                <p class="price">£135.00</p>
            </div>
        </div>
    </div>
    <div class="right image-content" style="background-image: url(\'https://raw.githubusercontent.com/Yahiamostafa11/iti-page/main/img/WhatsApp%20Image%202025-02-12%20at%2022.17.42_79119edd.jpg\');"></div>
</section>
