@{
    ViewBag.Title = "Home";
}

<style>
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_webp/a4fbe784797301.5d76e363e0869.png') center center/cover no-repeat;
    }


    .hero-section {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        padding: 20px;
    }

    .hero-content h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .hero-content p {
        font-size: 1.5rem;
        margin: 20px 0;
    }

    .btn-primary {
        padding: 15px 30px;
        font-size: 1.2rem;
        border-radius: 5px;
    }
</style>

<div class="hero-section">
    <div class="hero-content">
        <h1>Welcome to VIDA</h1>
        <p>Your trusted online Ecommerce.</p>
        <a href="@Url.Action("Index", "Products")" class="btn btn-primary">Shop Now</a>
    </div>
</div>